# 🔐 Flask secret key
SECRET_KEY=021c4cf248c2f411d0794b10685d9011f5853c40ab7a38e5
# 📧 Flask-Mail setup
MAIL_SERVER=smtp.gmail.com
MAIL_PORT=587
MAIL_USE_TLS=True
MAIL_USERNAME=sunil.ganta2020@gmail.com
MAIL_PASSWORD=
MAIL_DEFAULT_SENDER=sunil.ganta2020@gmail.com
